* {
    margin: 0;
    padding: 0;
   font-family: Tahoma, Geneva, Verdana, sans-serif;
    }

header {
    padding: 20px;
    background-color: #5F2180;
    color: white;
   
}

body {
    align-content: middle;
    width: 100%;
    background-color: #EED9F9;
}
footer {
    font-size: 30px;
    text-align: center;
}
header h1 {
    display: inline-block;
    margin-left: 2%;
    font-size: 250%;
    color: white;
}

h2 {
    text-align: center;
    color: #5F2180;
}
img {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #5F2180;
}
ul {
    padding-left: 200px;
    font-size: 20px;
    color: #5F2180;
}
p {
    text-align: center;
    font-size: 20px;
    color: #5F2180;
}
