* {
    margin: 0;
    padding: 0;
   font-family: monospace;
    }

header {
    padding: 30px;
    background-color: #5F2180;
    color: white;
    margin-bottom: 4%;
}

body {
    align-content: middle;
    width: 100%;
    background-color: #EED9F9;
}

main {
    border: 50px solid #EED9F9;
     
}

.about {
    display: flex;
    
}

.intro {
    padding: 2%;
}

ul {
    list-style-type: none;
    font-size: 20px;
    color: white;
}

header h1 {
    display: inline-block;
    margin-left: 2%;
    font-size: 300%;
    color: white;
}

img {
    max-width: 475px;
    text-align: auto;
    border: 10px solid #2e103e;
    margin-left: 10%;
    flex-basis: 30%;
    box-shadow: -4em -6em #5F2180;
}

h2 {
    position: absolute;
    text-align: auto;
    color: white;
    font-size: 350%;
    padding: 2%;
    margin-left: 16%;
}

p {
    text-align: center;
    font-size: 20px;
    color: white;
}

footer {
    font-size: 30px;
    text-align: center;
    padding: 3%;
}

.link {
    text-decoration: none;
    
}